*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(4, 147, 191);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.intro{
    margin: 30px;
    font-weight: bold;
}

h1{
    color: #ffff;
    margin-top: 60px;
    text-transform: uppercase;
    font-weight: 800;
}

h4{
    color: #ffff;
}

p{
    font-weight: 600;
}

#first{
    text-transform: uppercase;
    margin-top: 30px;
}

#third{
    margin-bottom: 20px;
}

input{
    border-radius: 5px;
    min-width: 60%;
    padding:  5px;
    outline: none;
    border: none;

}

#enter{
    border: none;
    padding:  5px 15px;
    border-radius: 5px;
    color: #04a1bf;
    background-color: #025f70;
    transition: all 0.75s ease;
}

#enter:hover{
    background-color: #02798f;
    color: #ffcd5d;
}

ul{
    text-align: left;
    margin-top: 20px;
}

li{
    list-style: none;
    padding: 12px 16px;
    color: #ffff;
    font-weight: 600;
    border: 2px splid #025f70;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #025f70;
    transition: all 0.75s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5 ease;

}

li:hover {
    background: #76cfe0;
}

li > button{
    font-weight: normal;
    background: none;
    border: none;
    float: right;
    color: #025f70;
    font-weight: 800;
}
